
    // $brown:#894329;
    // $blue:#12727D;
    // $yellow:#FCB886;
    // $brownn : #5A3211;
    // $brown2 : #964405;
    // $yelloww: #D68631;
    // $bluee : #3D717E;
    // $blue2: #10475E;
    // $blue3: #0B2839;
    // $mainColor:#19c8fa;
    // $secondColor:rgb(15 116 143 / 70%);

    $color-background-elevated: #1f2125;
    $main-color: #2ca4ab;
    $color-text-link-new: #2ca4ab;
    $color-success-faded: #272f33;
    $color-text-default: #e7e9ea;
    $color-text-faded-new: #dee2e6;
