.main-password-updated-img {
    width: 120px;
    height: 120px;
    position: relative;
    top: -25px;
    margin: auto;
    border-radius: 100px;
    @include breakpoint-up(medium) {
        width: 150px;
        height: 150px;
        }
}
.password-updated {
    width: 200px;
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 40px 0 ;
    @include breakpoint-up(medium) {
        width: 400px;
        }
}
.password-updated-button {
    width: 200px ;
    margin: auto;
    @include breakpoint-up(medium) {
        width: 200px;
        }
}