// @import '../base/';
.reset-password-email-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    /* font-size: 1rem; */
}
.reset-password-email-header h1 {
    font-size: 1rem;
    @include breakpoint-up(medium) {
        font-size: 1.5rem;
    }
}
.reset-password-email-header img {
    height: 30px;
    width: 30px;
    @include breakpoint-up(medium) {
        height: 45px;
        width: 45px;    }

}
.main-reset-password-img {
    width: 120px;
    height: 135px;
    position: relative;
    top: -25px;
    margin: auto;
    border-radius: 100px;
    @include breakpoint-up(medium) {
        width: 150px;
        height: 165px;
        }

}
.main-reset-password-text {
    margin-bottom: 15px;
    font-size: 0.7rem;
    @include breakpoint-up(medium) {
        font-size: 1.2rem;
    }
    @include breakpoint-up(large) {
        font-size: 1.5rem;
    }

}